h1{
    text-align: center;
    font-size: 20px;
}

body{
    background-color: aquamarine;

}

img{
    width: 200px;
    height: 230px;
}

.main-content{
    display: flex;
    flex-direction: column;
}

#change-me{
    
}